/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fonts*/

@font-face {
	font-family: "pfdintextcomppro-regular";
	src: url("../fonts/pfdintextcomppro-regular/pfdintextcondpro-regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/pfdintextcomppro-regular/pfdintextcondpro-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/pfdintextcomppro-regular/pfdintextcondpro-regular.otf") format("opentype"), /* Open Type Font */
		url("../fonts/pfdintextcomppro-regular/pfdintextcondpro-regular.svg") format("svg"), /* Legacy iOS */
		url("../fonts/pfdintextcomppro-regular/pfdintextcondpro-regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/pfdintextcomppro-regular/pfdintextcondpro-regular.woff") format("woff"), /* Modern Browsers */
		url("../fonts/pfdintextcomppro-regular/pfdintextcondpro-regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "pfdintextcomppro-bold";
	src: url("../fonts/pfdintextcomppro-bold/pfdintextcondpro-bold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/pfdintextcomppro-bold/pfdintextcondpro-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/pfdintextcomppro-bold/pfdintextcondpro-bold.otf") format("opentype"), /* Open Type Font */
		url("../fonts/pfdintextcomppro-bold/pfdintextcondpro-bold.svg") format("svg"), /* Legacy iOS */
		url("../fonts/pfdintextcomppro-bold/pfdintextcondpro-bold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/pfdintextcomppro-bold/pfdintextcondpro-bold.woff") format("woff"), /* Modern Browsers */
		url("../fonts/pfdintextcomppro-bold/pfdintextcondpro-bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "pfdintextcomppro-thin";
	src: url("../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin.eot"); /* IE9 Compat Modes */
	src: url("../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin.otf") format("opentype"), /* Open Type Font */
		url("../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin.svg") format("svg"), /* Legacy iOS */
		url("../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin.woff") format("woff"), /* Modern Browsers */
		url("../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "pfdintextcomppro-xthin";
	src: url("../fonts/pfdintextcomppro-xthin/pfdintextcondpro-xthin.eot"); /* IE9 Compat Modes */
	src: url("../fonts/pfdintextcomppro-xthin/pfdintextcondpro-xthin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/pfdintextcomppro-xthin/pfdintextcondpro-xthin.otf") format("opentype"), /* Open Type Font */
		url("../fonts/pfdintextcomppro-xthin/pfdintextcondpro-xthin.svg") format("svg"), /* Legacy iOS */
		url("../fonts/pfdintextcomppro-xthin/pfdintextcondpro-xthin.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/pfdintextcomppro-xthin/pfdintextcondpro-xthin.woff") format("woff"), /* Modern Browsers */
		url("../fonts/pfdintextcomppro-xthin/pfdintextcondpro-xthin.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

body
{
	font-family: "pfdintextcomppro-regular", Arial, sans-serif;
	color: #7F7E7C;	/* серый "с пипетки" из pdf */
	/*color: #b3b3b3;*/	/* CMYK 0/0/0/30*/
	font-weight: normal;
	/*font-size: medium;*/
	font-size: 110%;
	letter-spacing: 1.6px;
	line-height: 1.2;
}

.font-regular {
	font-family: "pfdintextcomppro-regular", Arial, sans-serif;
}
.font-bold {
	font-family: "pfdintextcomppro-bold", Arial, sans-serif;
}
.font-thin {
	font-family: "pfdintextcomppro-thin", Arial, sans-serif;
}
.font-xthin {
	font-family: "pfdintextcomppro-xthin", Arial, sans-serif;
}

h1,h2,h3 {
	font-family: "pfdintextcomppro-bold", Arial, sans-serif;
	letter-spacing: 2.2px;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}

a {
	color: #00AE5D;
	text-decoration: none;
	transition: .2s;
}
a:hover {
	color: #00AE5D;
	opacity: 0.8;
}

a img:hover {
	opacity: 0.8;
}

input[type="search"]::-moz-placeholder { color: #AFAFAF; font-family: "pfdintextcomppro-thin", Arial, sans-serif; letter-spacing: 2px;}
input[type="search"]::-webkit-input-placeholder { color: #AFAFAF; font-family: "pfdintextcomppro-thin", Arial, sans-serif; letter-spacing: 2px; }
input[type="search"]:-ms-input-placeholder { color: #AFAFAF; font-family: "pfdintextcomppro-thin", Arial, sans-serif; letter-spacing: 2px; }
input[type="search"]::-ms-input-placeholder { color: #AFAFAF; font-family: "pfdintextcomppro-thin", Arial, sans-serif; letter-spacing: 2px; }
input[type="search"]::placeholder { color: #AFAFAF; font-family: "pfdintextcomppro-thin", Arial, sans-serif; letter-spacing: 2px; } 

input[type="text"]::-moz-placeholder { color: #AFAFAF; font-family: "pfdintextcomppro-thin", Arial, sans-serif; letter-spacing: 2px;}
input[type="text"]::-webkit-input-placeholder { color: #AFAFAF; font-family: "pfdintextcomppro-thin", Arial, sans-serif; letter-spacing: 2px; }
input[type="text"]:-ms-input-placeholder { color: #AFAFAF; font-family: "pfdintextcomppro-thin", Arial, sans-serif; letter-spacing: 2px; }
input[type="text"]::-ms-input-placeholder { color: #AFAFAF; font-family: "pfdintextcomppro-thin", Arial, sans-serif; letter-spacing: 2px; }
input[type="text"]::placeholder { color: #AFAFAF; font-family: "pfdintextcomppro-thin", Arial, sans-serif; letter-spacing: 2px; } 

#logo {
	width: 220px;
}

.header-fixed-top {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1029;
}

/*#main-menu-container {
	margin-top:5.5em;
}*/

/* medgrade styles*/
.bg-med-green {
	background-color: #00AE5D;
}
.bg-med-gray {
	background-color: #AFAFAF;
}
.bg-med-dark-gray {
	background-color: #373838;
}
.text-med-green {
	color: #00AE5D;
}
.text-med-gray {
	color: #AFAFAF;
}
.text-med-dark-gray {
	color: #6F7070;
}
.text-med-dark {
	color: #373838;
}
.text-med-underlined {
	text-decoration: underline;
}
.border-med-green {
	border: 1px #00AE5D solid;
}
.border-med-green-2 {
	border: 2px #00AE5D solid;
}
.text-med-size-0-6 {
	font-size: 0.6em !important;
}
.text-med-size-1-2 {
	font-size: 1.2em !important;
}
.text-med-size-1-4 {
	font-size: 1.4em !important;
}
.text-med-size-1-6 {
	font-size: 1.6em !important;
}
.text-med-size-1-8 {
	font-size: 1.8em !important;
}

.gradient-to-bottom-gray {
	background: rgb(175,175,175);
	background: linear-gradient(180deg, rgba(175,175,175,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
}

/* green button */
.btn-med-green {
	background-color: #00AE5D;
	border: 1px #00AE5D solid;
	border-radius: 5px;
	box-sizing: border-box;
	color: #fff;
	box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}
.btn-med-green:hover {
	opacity: 0.95;
	color: #ddd;
}
/* green button search input */
.btn-med-green-search {
	background-color: #00AE5D;
	border: 1px #00AE5D solid;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-sizing: border-box;
	color: #fff;
	box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}
.btn-med-green-search:hover {
	opacity: 0.95;
	color: #ddd;
}
/* white button */
.btn-med-white {
	background-color: #fff;
	border: 1px #00AE5D solid;
	border-radius: 5px;
	box-sizing: border-box;
	color: #00AE5D;
	box-shadow: 3px 3px 2px rgba(0,0,0,0.03);
}
.btn-med-white:hover {
	opacity: 0.95;
	background-color: #00AE5D;
	color: #fff;
}

.border-radius-10 {
	border-radius: 10px !important;
}

.border-radius-20 {
	border-radius: 20px !important;
}

.border-radius-30 {
	border-radius: 30px !important;
}

.border-bottom-radius-10 {
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}

.border-bottom-radius-20 {
	border-bottom-left-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
}

.border-right-radius-10 {
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}

.border-left-radius-10 {
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

/* Images custom height */
.img-height-40 {
	height:40px;
}
.img-height-60 {
	height:60px;
}
.img-height-90 {
	height:90px;
}

/* bootstrap4 menu custom style  */
.nav .nav-item .nav-link.active {
	text-decoration: underline;
}
.nav .nav-item.dropdown .nav-link.dropdown-toggle {
	color: #fff;
}
.nav .nav-item a {
	font-size: 1.2em;
}
.nav .nav-item a:hover {
	opacity: 0.95;
	text-decoration: underline;
}
.navbar-brand {
	line-height: 0.8;
}
.navbar-toggler {
	border: 1px #AFAFAF solid;
}
.navbar-toggler .navbar-toggler-icon .fa-bars {
	margin-top: 0.15rem;
	font-size: 1.75rem; 
	font-weight: 300;
}

/* Main menu items custom style */
.dropdown-menu a.dropdown-item:hover {
	text-decoration: none;
	background-color: transparent;
}

/*
* bootstrap4 multilevel menu style 
* https://forum.tamirov.ru/viewtopic.php?f=37&t=230
*/
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>a:after {
	color:#00AE5D;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: 0px;
	margin-left: 10px;
	padding:1.5em;
}


/* Page content */

/*#page-content-container {
	margin-top:12em;
}*/

/* Main page */

.main-page-content h1,
.main-page-content h2 {
	font-family: "pfdintextcomppro-regular", Arial, sans-serif;
	font-size: 2em;
}

.main-page-actions {
	/*background-color: #00ff00;*/	/* CMYK 100/0/100/0 */
	background-color: #00AE5D;	/* зеленый как сейчас на medgrade.pro */
	/*background-color: #52AC62;*/	/* зеленый c "пипетки" с картинок .png */
	width: 100%;
	height: 550px;
	font-size: 20em;
	color: #f0f0f0;
	text-align: center;
}

.equipment-inline-group {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(14, 1fr);
	padding: 1em;
}
.equipment-card {
	padding: 0.5em;
}
.equipment-card img {
	margin-bottom: 1em;
}
.equipment-card .img-small {
	height:38px;
}
.equipment-card h4 {
	font-family: "pfdintextcomppro-thin", Arial, sans-serif;
}
.equipment-card a:hover {
	text-decoration: none;
}
.equipment-card a h4:hover {
	color: #6F7070;
}
.equipment-v-divider {
	width:0;
	height: 60%;
	margin-top:25px;
	border-right: 1px #AFAFAF solid;
}

.hit-equipment-inline-group {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1em;
}
.hit-equipment-card a {
	font-size: 1.3em;
}

.best-equipment-inline-group {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(11, 1fr);
	padding: 1em;
	text-align: center;
}

.steps-inline-group {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1em;
	padding: 1em;
	text-align: center;
}
.step-card {
	padding: 0.5em;
}
.step-card img {
	max-height: 95px;
	margin-bottom: 1em;
}

.service-inline-group {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1em;
	padding: 1em;
	text-align: center;
}
.service-card {
	padding: 0.5em;
}
.service-card img {
	max-height: 110px;
	margin-bottom: 1em;
}

.map {
	position: relative;
}
.map-contacts {
	position: absolute;
	top: 20%;
	right: 10%;
	max-width: 400px;
}
.map-contacts .fa-map-marker-alt,
.map-contacts .fa-phone {
	font-size: 1.3em;
}

/* Product page */
.product .tabs .tab-content ul li {
    border: 1px #f5f5f5 solid;
    background-color: #f9f9f9;
	padding: 15px 20px;
	margin-bottom: 1.6em;
	font-size: 1.4em;
}

/* Catalog */

/*.catalog {

}*/
.product-preview:hover{
	/*color: #6F7070;*/
	border: 1px #00AE5D solid !important;
	
}
.product-preview h3 a:hover{
	/*color: #6F7070;*/
	color: #00AE5D;
	text-decoration: none;
}


/* footer */

footer .footer-block {
	letter-spacing: 2.5px;
	line-height: 1.4;
}
footer ul.social-buttons li {
	display: inline-block;
}
footer ul.social-buttons li img {
	width: 25px;
	margin: 0.1em;
}

#toTop {
	width:1.9em;
	background-color: #00AE5D;
	text-align:center;
	padding:0.35em 0.2em;
	position:fixed;
	bottom:0.7em;
	right:1em;
	cursor:pointer;
	display:none;
	color:#fff;
	font-size:1.7em;
	opacity: 0.95;
	z-index: 999;
	
	-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#toTop:hover {
	opacity: 0.8;
}

/* Media */

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) { 
	
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) { 
	.main-page-actions {
		height: 300px;
		font-size: 2em;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) { 
	body {
		/*font-size: medium;*/
		font-size: medium;
		/*letter-spacing: 1.6px;
		line-height: 1.2;*/
	}
	.equipment-inline-group,
	.hit-equipment-inline-group,
	.best-equipment-inline-group,
	.service-inline-group,
	.steps-inline-group {
		grid-template-columns: repeat(1, 1fr);
	}
	.equipment-v-divider {
		display: none;
	}
	.map-contacts {
		display: none;
	}
	.header-fixed-top {
		position: relative;
		margin-top: -2.5em !important;
		border-bottom-left-radius: 20px !important;
		border-bottom-right-radius: 20px !important;
	}
	.header-fixed-top .row div p {
		margin-top: 0.1em !important;
		margin-bottom: 0.1em !important;
	}
	.header-fixed-top .row div:first-child {
		margin-top: 8em !important;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) { 

}



