/* Форма заявки*/
#modal_form {
	width: 300px; 
	height: 500px; /* Размеры должны быть фиксированы */
	/*border: 3px #fff solid;*/
	position: fixed; /* чтобы окно было в видимой зоне в любом месте */
	top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
	left: 50%; /* половина экрана слева */
	margin-top: -300px;
	margin-left: -150px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
	display: none; /* в обычном состоянии окна не должно быть */
	opacity: 0; /* полностью прозрачно для анимирования */
	z-index: 101; /* окно должно быть наиболее большем слое */
	padding: 1em;
	color:#2E3741;
	font-size:1.2em;
	
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#modal_form h3
{
	padding: 1em;
	/*color: #404040;*/
	font-size:1.2em;
	text-align:center;
	margin:0;
}
#modal_form p
{
	text-align:center; 
	font-size:0.7em; 
	margin-bottom:1em;
}
#modal_form input
{
	margin-bottom: 1em;
	padding:0.5em;
}
/*#modal_form button
{
   display:block;
   width:100%;
   margin:0.5em 0;
   padding:0.5em;
   color: #fff;
   text-decoration:none;
   border-bottom: 2px #FFB71C solid;
   font-size:1.2em;
   
   background-color: rgba(246,204,23,1);
   background: -moz-linear-gradient(bottom,rgba(246,204,23,1) 0%,rgba(255,233,127,1) 100%);
   background: -webkit-linear-gradient(bottom,rgba(246,204,23,1) 0%,rgba(255,233,127,1) 100%);
   background: -o-linear-gradient(bottom,rgba(246,204,23,1) 0%,rgba(255,233,127,1) 100%);
   background: -ms-linear-gradient(bottom,rgba(246,204,23,1) 0%,rgba(255,233,127,1) 100%);
   background: linear-gradient(bottom,rgba(246,204,23,1) 0%,rgba(255,233,127,1) 100%);
   
   -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
   
}*/

#modal_form .btn-order
{
   display:block;
   margin:1em auto;
   padding:0.5em 2.5em;
   background-color: rgba(232,99,64,1);
   color:#fff;
   font-size:1.1em;
   text-decoration:none;
   
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}
#modal_form button:hover
{
   background-color: rgba(232,82,64,1);
   text-decoration:none;
}
/* Кнопка закрыть */
#modal_close {
	/*width: 21px;
	height: 21px;*/
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
	color:#2E3741;
	font-size:120%;
}

/* Подложка для всех форм*/
.overlay {
	z-index: 100; /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
	position: fixed; /* всегда перекрывает весь сайт */
	background-color: rgba(0,0,0,0.8); /* черная */
	opacity: 0.8; /* но немного прозрачна */
	width: 100%; 
	height: 100%; /* размером во весь экран */
	top: 0; 
	left: 0; /* сверху и слева 0, обязательные свойства! */
	cursor: pointer;
	display: none; /* в обычном состоянии её нет) */
}