/*
Файл стилей CSS промо-страницы Лакомый край
28.12.2016
*/

/*
	Сброс таблицы стилей
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section 
{
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after 
{
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Настройка основных блоков*/
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, main, article, aside, footer 
{
	display: block;
}

header, nav, section, main, article, aside, footer, div, p, span, h1, h2, h3, h4, h5, h6, img, ul, li, a
{
	border: 0px #000 dotted;
}

/*istok*/
@font-face {
    font-family: 'Istok';
    src: local('Istok Regular'), local('Istok-Regular'), url('../fonts/istok/istokregular.woff2') format('woff2'), url('../fonts/istok/istokregular.woff') format('woff'), url('../fonts/istok/istokregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Istok-Italic';
    src: local('Istok Italic'), local('Istok-Italic'), url('../fonts/istok/istokitalic.woff2') format('woff2'), url('../fonts/istok/istokitalic.woff') format('woff'), url('../fonts/istok/istokitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Istok-Bold';
    src: local('Istok Bold'), local('Istok-Bold'), url('../fonts/istok/istokbold.woff2') format('woff2'), url('../fonts/istok/istokbold.woff') format('woff'), url('../fonts/istok/istokbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Istok-Bold-Italic';
    src: local('Istok Bold Italic'), local('Istok-BoldItalic'), url('../fonts/istok/istokbolditalic.woff2') format('woff2'), url('../fonts/istok/istokbolditalic.woff') format('woff'), url('../fonts/istok/istokbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}


body
{
   background-color: rgba(255,255,255,1);
   font-family: Istok,Helvetica,Arial,sans-serif;
   font-size: medium;
   font-weight: normal;
   color:#511500;
}

H1
{
   font-size:4em;
   text-align:center;
   font-family: 'Istok-Bold';
}
H2
{
   font-size:2em;
   text-align:center;
}
H3
{
   font-size:1.5em;
}
H4
{
   font-size:1.2em;
   margin:0.5em 0;
}
a
{
   color: #5A99DC;
   text-decoration: underline;
}
a:hover
{
   /*color: #5A99DC;*/
   text-decoration: underline;
}

/*Основной блок на всю ширину*/
#wrapper
{
   margin: 0 auto;
}

/*Полоса елочка вершиной вниз*/
.elka-down
{
	float:left;
	display: inline-block;
	width:99.6%;
	background: transparent url("../images/elka-down.png") repeat-x bottom left;
	padding:1em;
	margin:0em;
}
.elka-up
{
	float:left;
	display: inline-block;
	width:99.6%;
	background: transparent url("../images/elka-up.png") repeat-x bottom left;
	padding:1em;
	margin:0em;
}

/*блок с бордовым фоном*/
.dark-red-bg
{
	float:left;
	width:100%;
	padding:1em;
	background-color: rgba(81,21,0,1);
	color:#E1D2A8;
}
.dark-red-bg p
{
	text-align:center;
	padding:0.2em;
	line-height:1.5;
	font-size:1.2em;
}


/*Основной блок main*/
main[role="main"]
{
   width: 100%;
}
/*Первый экран*/
#first-screen
{
	background: transparent url("../images/first-screen-bg.png") no-repeat fixed center top;
	color:#E1D2A8;
	padding:3em 0 3em 0;
}

#top
{
	background-color: rgba(81,21,0,1);
	color:#E1D2A8;
	padding:1em;
}

.product
{
	float:left;
	width:100%;
	margin:2em auto;
	padding:2em;
	border:2px rgba(81,21,0,0.07) solid;
}
.product img
{
	float:right;
}
.product h3
{
	text-align:left;
	font-weight:600;
}
.product p
{
	text-align:justify;
	line-height:1.2;
}
.product ul
{
	list-style-type:disc;
	margin: 0.5em 0 0em 2em;
	line-height:1.4;
}

#header img
{
   padding-top: 0;
}


.btn-bordered
{
   font-size:1.5em;
   color:#E1D2A8; 
   padding:0.7em 2em 0.7em 2em; 
   text-decoration: none;
   
   

   display:table;
   margin:1em auto;
   text-align:center;
   
   
   -moz-box-shadow: 5px 5px 15px rgba(58,21,0,1);
   -webkit-box-shadow: 5px 5px 15px rgba(58,21,0,1);
   box-shadow: 5px 5px 15px rgba(58,21,0,1);   
   
   border: 2px #E1D2A8 solid;
   
}
.btn-bordered:hover
{
   color: #E1D2A8;
   transition: 0.3s;
   background-color:rgba(255,255,255,0.08);
   text-decoration: none;
}
.btn-bordered:not(:hover)
{
   transition: 0.3s;
}

.social-buttons
{
    text-align:left; 
	padding:1em 3em;
}
.social-buttons h4
{
	padding:0.5em;
}

#map
{
   margin:0;
}

#chevron-down-button
{
   padding:0.1em 2em 0.5em 2em;
   font-size:2.5em; 
   color:#fff;
   text-align:center;
}
#chevron-down-button a
{
   color:#fff;
   padding:0.1em;
}

/*Футер*/
footer[role="contentinfo"] 
{
	clear: both;
	margin-top:0;	
	background-color: rgba(81,21,0,1);
	color:#E1D2A8;
	padding:0 0 0.5em 0;
}
/*Последний экран*/
#last-screen
{
	background: transparent url("../images/last-screen-bg.png") no-repeat fixed center top;
	color:#E1D2A8;
	padding:3em 0 1em 0;
}
#last-screen h2, 
#last-screen h3, 
#last-screen h4, 
#last-screen p, 
#last-screen a
{
	text-align:center;
}
#last-screen h2
{
	line-height:1.4;
}
#last-screen a
{
	margin:2em;
	font-size:1.8em;
	color:#E1D2A8;
}
.footer-block
{
   padding:1em;
}
.footer-block p
{
   line-height:1.5;
}
.footer-block h4
{
   margin:1em 0;
}
.footer-block ul li
{
   padding:0.2em 0;
   line-height:1.2;
}
.footer-block ul li a
{
   color: #404040;
}
.footer-block #social-networks-bottom li
{
   display:inline-block;
   padding:0.2em;
   font-size:1.5em;
}
#copyright
{
   font-size:0.8em;
   text-align:center;
   margin-top:3em;
   padding:1em;
}
#made-in-greenpro
{
   display:block;
   font-size:0.7em;
   text-align:center;
   padding-bottom:1em;
}

/*Кнопка Наверх*/
#toTop 
{
	width:2.5em;
	background-color: rgba(81,21,0,0.7);
	text-align:center;
	padding:0.65em 0.2em;
	position:fixed;
	bottom:0.7em;
	right:1em;
	cursor:pointer;
	display:none;
	color:#E1D2A8;
	font-size:1.5em;
	
	border: 1px rgba(225,210,168,0.2) solid;
	
	-webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
}
#toTop:hover
{
	background-color: rgba(81,21,0,0.6);
}

/*медиа-запросы*/
@media screen and (max-width:767px)
{
	body
	{
	   font-size: small;
	}
}

@media screen and (max-width:479px)
{
	body
	{
	   font-size: x-small;
	}
}